<!--<template name="message">-->
    <!--<form class="main form">-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" for="text">Your message</label>-->
            <!--<textarea name="text" class="form-control" rows="3" placeholder="Text your post">-->
                <!--{{text}}-->
            <!--</textarea>-->
        <!--</div>-->
        <!--<input type="submit" value="Submit" class="btn btn-primary"/>-->
    <!--</form>-->
<!--</template>-->

<!--<template name="message">-->
    <!--<li class="media">-->
        <!--<div class="media-body">-->
            <!--<div class="media">-->
                <!--<a class="pull-left" href="#">-->
                    <!--<img class="media-object img-circle img-responsive" src="http://lorempixel.com/60/60/people/" />-->
                <!--</a>-->
                <!--<div class="media-body" >-->
                    <!--{{text}}-->
                    <!--<br />-->
                    <!--&lt;!&ndash; user information &ndash;&gt;-->
                    <!--<small class="text-muted"><strong>{{username}}</strong> | {{createdAt}}</small>-->
                    <!--<hr />-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</li>-->
<!--</template>-->





<!--<template name="message">-->
    <!--<li class="media">-->
        <!--<div class="media-body">-->
            <!--<div class="media">-->
                <!--<a class="pull-left" href="#">-->
                    <!--<img class="media-object img-circle img-responsive" src="http://lorempixel.com/60/60/people/" />-->
                <!--</a>-->
                <!--<div class="media-body" >-->
                    <!--{{text}}-->
                    <!--<br />-->
                    <!--&lt;!&ndash; user information &ndash;&gt;-->
                    <!--<small class="text-muted"><strong>{{username}}</strong> | {{createdAt}}</small>-->
                    <!--<hr />-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</li>-->
<!--</template>-->