<template name="postEdit">
    <form class="main">
        <div class="control-group">
            <label class="control-label" for="title">Title</label>
            <div class="controls">
                <input name="title" type="text" value="{{title}}" class="form-control" placeholder="Your title"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="text">Text</label>
            <textarea name="text" class="form-control" rows="2" placeholder="Text your post">{{text}}</textarea>
        </div>

        <div class="control-group">
            <button type="submit" class="btn btn-primary submit">Submit</button>
            <a class="btn btn-danger delete" href="#">Delete post</a>
        </div>
    </form>
</template>